body {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
    background-color: #43A5FF;
    height: 100%;
    color: white;
    overflow: auto;
  }

.cloud-overlay-1 {
    position: absolute; /* Position the cloud overlay relative to the body */
    top: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    object-fit: cover; /* Cover the entire body with the cloud image */
    z-index: -1; /* Place the cloud overlay below the content */
    user-select: none;
}

.cloud-overlay-2 {
    position: absolute; /* Position the cloud overlay relative to the body */
    top: 0;
    left: 70%;
    width: 25%;
    height: 25%;
    object-fit: cover; /* Cover the entire body with the cloud image */
    z-index: -1; /* Place the cloud overlay below the content */
    user-select: none;
}
  
.container {
    display: flex;
    height: 100vh; /* Use viewport height instead of percentage */
    overflow: auto;
}

.column {
    box-sizing: border-box;
    padding: 20px;
}

.favorites-column {
    width: 25%;
    background-color: rgba(16, 64, 132, 0.3);
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column; /* Set to column to make the favorites column vertical */
    border: 1px solid #ccc;
}

.favorites-header {
    width: 100%; /* Adjusted width to take up the full width of the favorites column */
    height: auto; /* Adjusted height to automatically adjust to content */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px; /* Added padding for better appearance */
    box-sizing: border-box; /* Box-sizing to include padding in width */
}

.favorites-text {
    font-weight: 300;
    font-size: 28px;
}

.weather-column {
    width: 75%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mainHead {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the search bar to the right */
}

/* Add other styles as needed */


.search-bar input {
    margin-right: 10px; /* Add some space between input and button */
}

.search-input {
    border: 1px solid lightgray;
    border-radius: 20px; /* Adjust the border-radius value to change the roundness */
    padding: 8px 12px;
    background-color: white;
    color: black; /* Text color */
}

.search-input::placeholder {
    color: lightgray; /* Placeholder text color */
}

.search-button {
    border: 1px solid lightgray;
    border-radius: 20px; /* Match the border-radius to the search input */
    padding: 8px 12px;
    background-color: white;
    color: black; /* Text color */
    margin-left: 5px; /* Adjust the spacing between input and button */
    cursor: pointer;
}

.search-button:hover {
    background-color: lightgray;
}

.weather-details {
    text-align: center;
}

.city-name {
    font-size: 32px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.temperature {
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.condition {
    font-size: 16px;
    margin-top: 5px;
}

.high-temp,
.low-temp {
    font-size: 14px;
    margin-top: 5px;
}

.weather-info {
    background-color: rgba(16, 64, 132, 0.3);
    border-radius: 15px; /* Set border radius to 15 */
    padding: 15px;
    margin-top: 25px;
}

.forecast-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.forecast-title {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 3px;
}

.current-date {
    font-size: 18px;
    margin-top: 3px;
}

.time-slots-container {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 15px;
}

.time-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp {
    font-size: 18px;
}

.weather-icon {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.time {
    font-size: 16px;
}

.additional-info {
    margin-top: 25px;
    display: flex;
}

.Fourteen-day-column {
    width: 34%;
    background-color: rgba(16, 64, 132, 0.3);
    border-radius: 15px; /* Set border radius to 15 */
    padding: 10px; /* Adjust padding to create space for the scrollbar */
    display: flex;
    flex-direction: column;
    overflow-y: auto;  /* Enable vertical scrollbar if needed */
    max-height: 35.25rem; /* Set the maximum height to limit the visible days */
}

/* For WebKit browsers */
.Fourteen-day-column::-webkit-scrollbar {
    width: 12px; /* Set width of the scrollbar */
}

.Fourteen-day-column::-webkit-scrollbar-thumb {
    background-color: lightgray; /* Set color of the scrollbar thumb */
    border-radius: 6px; /* Set border radius for rounded corners */
}

.Fourteen-day-column::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.8); /* Set color of the scrollbar track with some transparency */
    border-radius: 15px; /* Set border radius for the scrollbar track */
    padding: 5px; /* Adjust padding to create space for the scrollbar thumb */
}


.widgets-column {
    width: 66%;
    margin-left: 15px;
}

.day-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Add a border between day slots */
}

.day-info {
    text-align: left;
}

.conditions {
    font-size: 24px;
}

.temperature-info {
    text-align: right;
}

.date,
.day-name{
    font-size: 14px;
}

.widgets-column {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget-small {
    width: calc(33.33% - 10px); /* Adjusted width with extra spacing */
    height: 175px;
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    justify-content: space-between; /* or other appropriate value */
    background-color: rgba(16, 64, 132, 0.3);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 20px; /* Added margin to create space between widgets */
}

.widget-large {
    width: calc(66.66% - 10px); /* Adjusted width with extra spacing */
    height: 175px;
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    justify-content: space-between; /* or other appropriate value */
    background-color: rgba(16, 64, 132, 0.3);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 20px; /* Added margin to create space between widgets */
}

.widget-windy {
    width: 100%; /* Adjusted width with extra spacing */
    height: 40%;
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    justify-content: space-between; /* or other appropriate value */
    background-color: rgba(16, 64, 132, 0.3);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 20px; /* Added margin to create space between widgets */
}

.favorites-column.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
    /*transition: width 0.3s ease-out;*/
}

.full-width {
    width: 100%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.toggle-favorites {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 15px; /* Optional: Add spacing between the image and text */
    background: transparent; /* Set the background to transparent */
    border: none; /* Remove any border if there is one */
    padding-top:5px;
}

.toggleButton {
    cursor: pointer; /* Change cursor to hand icon on hover */
    display: inline-block; /* Display as inline-block to allow setting width and height */
}

.settings-button {
    width: 20px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    margin-left: 10px;
    margin-right: 10px; /* Optional: Add spacing between the image and text */
    background: transparent; /* Set the background to transparent */
    border: none; /* Remove any border if there is one */
    padding-top:5px;
}

.widget-text {
    font-weight: bold;
    font-size: 22px; /* Adjust the font size as needed */
    margin-bottom: -10px;
}

.widget-text2 {
    font-size: 16px; /* Adjust the font size as needed */
    margin-bottom: 10px;
}

.widget-bottom-text {
    font-weight: bold;
    align-self: bottom;
    font-size: 14px; /* Adjust the font size as needed */
}

#windy {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.user-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.user-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.ri-user-fill {
    margin-right: 10px; /* Adjust the margin as needed */
}

.pressure-bar-wrapper {
    height: 10px;
    border: 1px solid #000; /* Outline color */
    border-radius: 5px;
    margin-top: 10px;
}

.pressure-bar {
    height: 100%;
    background-color: #4caf50; /* Default color for a filled bar */
    border-radius: 5px;
    transition: width 0.5s ease; /* Add a smooth transition effect */
}

.favourites-button {
    border: 1px solid lightgray;
    border-radius: 20px; 
    padding: 8px 12px;
    background-color: white;
    color: black; 
    margin-left: 5px; 
    cursor: pointer;
}
