body {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
    background-color: #43A5FF;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto; /* Add overflow auto */
}

.column {
    box-sizing: border-box;
    padding: 20px;
}

.favorites-column {
    width: 100%;
    background-color: rgba(16, 64, 132, 0.3);
    height: auto;
    position: sticky;
    top: 0;
    border: 1px solid #ccc;
}

.favorites-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.favorites-text {
    font-weight: 300;
    font-size: 24px;
}

.favourites-button {
    border: 1px solid lightgray;
    border-radius: 20px; 
    padding: 8px 12px;
    background-color: white;
    color: black; 
    margin-left: 5px; 
    cursor: pointer;
}

.toggle-favorites {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 15px; /* Optional: Add spacing between the image and text */
    background: transparent; /* Set the background to transparent */
    border: none; /* Remove any border if there is one */
    padding-top:5px;
}

.toggleButton {
    display: block; /* Initially display the toggle button */
}

/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
    .favorites-column {
        width: 100%; /* Adjust the width to fit the screen */
        background-color: rgba(16, 64, 132, 0.3); /* Retain background color */
        border: 1px solid #ccc; /* Retain border */
        position: relative; /* Remove sticky positioning */
    }

    .toggleButton {
        display: none; /* Hide the toggle button */
    }
}

.weather-column {
    width: 100%;
}

/* Default styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mainHead {
    display: flex;
    align-items: center;
}

.settings-button {
    width: 20px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    margin-left: 10px;
    margin-right: 10px; /* Optional: Add spacing between the image and text */
    background: transparent; /* Set the background to transparent */
    border: none; /* Remove any border if there is one */
    padding-top:5px;
}

.user-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.user-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.ri-user-fill {
    margin-right: 10px; /* Adjust the margin as needed */
}

.search-bar {
    align-items: center;
    margin-left: auto; /* Pushes the search bar to the right */
    position: relative;
    display: inline-block;

}

/* Add other styles as needed */


.search-bar input {
    margin-right: 10px; /* Add some space between input and button */
}

.search-input {
    border: 1px solid lightgray;
    border-radius: 20px; /* Adjust the border-radius value to change the roundness */
    padding: 8px 12px;
    background-color: white;
    color: black; /* Text color */
}

.search-input::placeholder {
    color: lightgray; /* Placeholder text color */
}

.search-button {
    border: 1px solid lightgray;
    border-radius: 20px; /* Match the border-radius to the search input */
    padding: 8px 12px;
    background-color: white;
    color: black; /* Text color */
    margin-left: 5px; /* Adjust the spacing between input and button */
    cursor: pointer;
}

.search-button:hover {
    background-color: lightgray;
}

/* Media queries for responsiveness */
@media screen and (max-width: 550px) {
    .header {
        flex-direction: column; /* Change flex direction to column for mobile */
        align-items: flex-start; /* Align items to the start */
    }

    .search-bar {
        margin-left: auto;
        width: 100%; /* Ensure full width */
        margin-top: 10px; /* Add margin to separate from the header items */
    }
}


/* Media Query for Mobile Devices */
@media screen and (min-width: 769px) {
    .container {
        flex-direction: row;
    }
    
    .favorites-column {
        width: 25%;
        height: 100vh;
    }
    
    .weather-column {
        width: 75%;
    }
}

.weather-details {
    text-align: center;
}

.city-name {
    font-size: 32px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.temperature {
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.condition {
    font-size: 16px;
    margin-top: 5px;
}

.high-temp,
.low-temp {
    font-size: 14px;
    margin-top: 5px;
}

.weather-info {
    background-color: rgba(16, 64, 132, 0.3);
    border-radius: 15px;
    padding: 15px;
    margin-top: 25px;
}

.forecast-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.forecast-title {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 3px;
}

.current-date {
    font-size: 18px;
    margin-top: 3px;
}

/* Base styles */
.time-slots-container {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 15px;
}

.time-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 20px); /* Adjust this value as needed */
    max-width: 200px; /* Limit maximum width if desired */
    margin: 10px; /* Add some margin between items */
}

/* Responsive font sizes */
.temp {
    font-size: 4vw; /* Responsive font size */
}

.weather-icon {
    font-size: 6vw; /* Responsive font size */
    padding: 15px 0; /* Adjust padding for icon */
}

.time {
    font-size: 3vw; /* Responsive font size */
}

/* Desktop-specific styles */
@media (min-width: 769px) {
    .temp {
        font-size: 16px; /* Adjust font size for desktop */
    }

    .weather-icon {
        font-size: 24px; /* Adjust font size for desktop */
    }

    .time {
        font-size: 14px; /* Adjust font size for desktop */
    }
}


.additional-info {
    margin-top: 25px;
    display: flex;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 600px) {
    .city-name {
        font-size: 24px;
    }

    .temperature {
        font-size: 36px;
    }

    .condition {
        font-size: 14px;
    }

    .high-temp,
    .low-temp {
        font-size: 12px;
    }

    .forecast-title {
        font-size: 16px;
    }

    .current-date {
        font-size: 14px;
    }

    .temp {
        font-size: 14px;
    }

    .weather-icon {
        font-size: 20px;
    }

    .time {
        font-size: 12px;
    }
}

/* Base styles */
.Fourteen-day-column {
    width: 34%;
    background-color: rgba(16, 64, 132, 0.3);
    border-radius: 15px; /* Set border radius to 15 */
    padding: 10px; /* Adjust padding to create space for the scrollbar */
    display: flex;
    flex-direction: column;
    overflow-y: auto;  /* Enable vertical scrollbar if needed */
    max-height: 35.25rem; /* Set the maximum height to limit the visible days */
}

.Fourteen-day-column {
    width: 100%; /* Change width to 100% */
    background-color: rgba(16, 64, 132, 0.3);
    border-radius: 15px; /* Set border radius to 15 */
    padding: 10px; /* Adjust padding to create space for the scrollbar */
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrollbar if needed */
    max-height: 94rem; /* Set the maximum height to limit the visible days */
}

.Fourteen-day-column::-webkit-scrollbar {
    width: 12px; /* Set width of the scrollbar */
}

.Fourteen-day-column::-webkit-scrollbar-thumb {
    background-color: lightgray; /* Set color of the scrollbar thumb */
    border-radius: 6px; /* Set border radius for rounded corners */
}

.Fourteen-day-column::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.8); /* Set color of the scrollbar track with some transparency */
    border-radius: 15px; /* Set border radius for the scrollbar track */
    padding: 5px; /* Adjust padding to create space for the scrollbar thumb */
}

.widgets-column {
    width: 100%;
    display: flex;
    margin-left: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.day-slot {
    display: flex;
    flex-direction: column; /* Change direction to column for smaller screens */
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Add a border between day slots */
}

.day-info,
.conditions,
.temperature-info {
    text-align: center; /* Center align text for smaller screens */
}

.conditions {
    font-size: 24px;
}

.date,
.day-name {
    font-size: 14px;
}

@media screen and (min-width: 985px) { /* Adjust breakpoint according to your design */
    .Fourteen-day-column {
        width: 34%; /* Revert width back to original */
    }

    .Fourteen-day-column {
        width: 34%;
        background-color: rgba(16, 64, 132, 0.3);
        border-radius: 15px; /* Set border radius to 15 */
        padding: 10px; /* Adjust padding to create space for the scrollbar */
        display: flex;
        flex-direction: column;
        overflow-y: auto;  /* Enable vertical scrollbar if needed */
        max-height: 35.25rem; /* Set the maximum height to limit the visible days */
    }

    .widgets-column {
        width: 66%;
        display: flex;
        margin-left: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .day-slot {
        flex-direction: row; /* Revert direction to row for larger screens */
        justify-content: space-between; /* Align items with space between */
        text-align: left; /* Align text to left */
    }

    .day-info,
    .conditions,
    .temperature-info {
        text-align: left; /* Align text to left */
    }
}

.widget-small {
    width: calc(33.33% - 10px); /* Adjusted width with extra spacing */
    height: 175px;
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    justify-content: space-between; /* or other appropriate value */
    background-color: rgba(16, 64, 132, 0.3);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 20px; /* Added margin to create space between widgets */
}

.widget-large {
    width: calc(66.66% - 10px); /* Adjusted width with extra spacing */
    height: 175px;
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    justify-content: space-between; /* or other appropriate value */
    background-color: rgba(16, 64, 132, 0.3);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 20px; /* Added margin to create space between widgets */
}

@media screen and (max-width: 985px) {
    .widgets-column {
        flex-direction: column;
        align-items: center;
    }

    .widget-small,
    .widget-large {
        width: 100%; /* Each widget takes full width on smaller screens */
        margin-bottom: 15px; /* Adjust margin */
    }
}

.widget-text {
    font-weight: bold;
    font-size: 1rem; /* Adjust the font size as needed */
    margin-bottom: -5px;
}

.widget-text2 {
    font-size: 0.85rem; /* Adjust the font size as needed */
    margin-bottom: 10px;
}

.widget-bottom-text {
    font-weight: bold;
    align-self: bottom;
    font-size: 0.85rem; /* Adjust the font size as needed */
}

.widget-windy {
    width: 100%; /* Adjusted width with extra spacing */
    height: 40%;
    display: flex;
    flex-direction: column; /* or row, depending on your layout */
    justify-content: space-between; /* or other appropriate value */
    background-color: rgba(16, 64, 132, 0.3);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 20px; /* Added margin to create space between widgets */
}

.favorites-column.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
    /*transition: width 0.3s ease-out;*/
}

.full-width {
    width: 100%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#windy {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.pressure-bar-wrapper {
    height: 10px;
    border: 1px solid #000; /* Outline color */
    border-radius: 5px;
    margin-top: 10px;
}

.pressure-bar {
    height: 100%;
    background-color: #4caf50; /* Default color for a filled bar */
    border-radius: 5px;
    transition: width 0.5s ease; /* Add a smooth transition effect */
}

#suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'ABeeZee', sans-serif;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#suggestionsList:not(:empty) {
    border: 2px solid black;
}

#suggestionsList li {
    padding: 10px;
    cursor: pointer;
    color: black;
    border-bottom: 1px solid #ccc;
}

#suggestionsList li:last-child {
    border-bottom: none;
}

#suggestionsList li:hover {
    background-color: #f0f0f0;
    border-radius: 15px;
} 

.overlay {
    background-color: rgba(0, 0, 0, 0.4); /* Black with 30% opacity */
  }
  
