body, html {
  overflow-y: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Consistent font family */
}

.profile {
  margin-top: 0%;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.profile-content {
  background: rgba(90, 90, 90, 0.6); 
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  color: #fff;
  max-width: 75%;
  width: 50%;
}
#emptyCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed #ccc;
  display: block;
  margin: 10px auto;
}

.profile-bio {
  max-width: 100%; /* Ensures it doesn't exceed the width of its parent */
  padding: 20px; /* Adjust padding as necessary */
  box-sizing: border-box; /* Includes padding in the element's total width */
}

.profile-details textarea {
  width: 100%; 
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; 
  overflow-y: auto; 
  
}

.profile-bio, .profile-details form {
  background-color: #ffffff;
  color: #333; 
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-bio h3, .profile-details h2, .profile-info h1 {
  color: #5cb5f9; 
}
.profile-picture-preview img {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  object-fit: cover; 
  display: block; 
  margin: 10px auto; 
}

.profile-details input[type="file"], .profile-details textarea, .profile-details input[type="text"], .profile-details input[type="email"], .profile-details input[type="password"] {
  width: 100%; 
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.profile-details button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-details button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .profile-content {
    flex-direction: column;
    padding: 20px;
    max-width: 100%;
  }
}
