
  .profile {
  position: relative; 
  z-index: 1; 
  overflow-y: auto;
  } 
  h1{
    font-size: 4vw;
    margin-bottom: 1vw;
    margin-top: 0; 
  
  }
  .profile-info {
    max-width: 40vw;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #29304B;
    animation: transitionIn 2s;
    transition: transform 0.3s ease-out;
  }
  .profile-info:hover {
    transform: scale(1.02);
  }
  
  .profile-info p {
    font-size: 2vw;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  section{
    height: 70%;
    position: relative;
    background-color: #29304B;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    place-items: center;
    align-content: center;
    scroll-snap-align: center;
  }
  .back-video {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none; 
    opacity: 80%;
  }

  @media (min-aspect-ratio: 16/9){
    .back-video{
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9){
    .back-video{
      width: auto;
      height: 100%;
    }
  }
