.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .settings-content {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
  }
  .settings-content h1 {
    color: #29304B;
    font-size: 3vw;
}
  
  .setting {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .setting h2 {
    margin-bottom: 10px;
    color: #29304B;
  }
  
  .setting select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
