body, html {
  overflow-y: auto; 
}
  .settings {
    margin-top: 5%;
    position: relative; 
    z-index: 1; 
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards; 
  }

   
   .header {
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: relative;
    background-color: #29304B;
    transform: translateY(-100%); 
    animation: slideDown 0.5s ease-out forwards 0.5s; /* Slide down */
    
  }
  .back-video {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none; 
    opacity: 1;
    opacity: 0; /* Start invisible */
    animation: fadeInSlow 2s ease-out forwards; /* Slow fade in */
  }
  .settings-content {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
  }
  .settings-content h1 {
    color: #29304B;
    font-size: 3vw;
}
  
  .setting {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .setting h2 {
    margin-bottom: 10px;
    color: #29304B;
  }
  
  .setting select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button[type="submit"], /* Specific type of button */
  button /* If you want all buttons to have this style */ {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* Adjusted if necessary */
    text-align: center; /* Center text inside the button */
  }
  
  button[type="submit"]:hover,
  button:hover /* If you want all buttons to have this hover effect */ {
    background-color: #45a049;
  }
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    z-index: 1;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    z-index: 1;
}
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeInSlow {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }
  
