
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    background: #29304B;
    color: white;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
    padding: 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transform: translateY(-100%); 
    animation: slideDown 0.5s ease-out forwards 0.5s; 
}

/* Logo styling */
.logo {
    width: 100px; 
    height: auto; 
}

/* Navigation styling */
nav {
    display: flex;
}

.nav_links {
    display: flex;
    justify-content: center; /* Center the links */
    flex-wrap: wrap; /* Allow wrapping if there's not enough space */
}

.nav_links li {
    margin-right: 20px; 
}

.nav_links li:last-child {
    margin-right: 0; 
}

.nav_links li a {
    text-decoration: none;
    color: white;
    font-weight: 500; 
    transition: color 0.3s ease;
}

/* User links styling */
.user {
    text-decoration: none;
    color: white; 
    margin-right: 20px; 
    font-weight: 500; 
    transition: color 0.3s ease;
}

/* Menu icon styling */
#menu-icon {
    display: none; 
    cursor: pointer;
    font-size: 24px; 
}

@media screen and (max-width: 768px) {
    .nav_links {
        display: none; /* Initially hide the navigation links on smaller screens */
    }

    #menu-icon {
        display: block; /* Show the menu icon */
        margin: 0 auto; /* Center the menu icon */
    }

    header {
        text-align: center; /* Center header content */
        padding: 20px 10px; /* Adjust padding */
    }

    .nav_links, .user {
        text-align: center; /* Center navigation links */
        width: 100%; /* Full width */
    }

    .nav_links li {
        margin-right: 0; /* Remove right margin */
        padding: 10px 0; /* Add padding for touch targets */
    }
}
