<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatal Error - Weather Channel</title>
    <link rel="stylesheet" href="../css/404-style.css">
</head>
<body>
    <div>
        <h1>Fatal Error</h1>
        <p>Sorry, a critical error has occurred.</p>
        <p>Please remain patient while our support team handles the issue</p>
        <a href="../index.php">Try Again?</a>
    </div>
</body>
</html>
