<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }} - Weather Channel</title>
        <meta name="description" content="Discover our restaurant by the sea!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9877e2c6ca.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/{{ filename }}-style.css">
        <script type="text/javascript" src="javascript/header.js"></script> <!-- updated -->
    </head>
    <body>
        <div class="transition transition is-active"></div>
            <div class="container">
                
                              
                {% block content %}
                {% endblock %}
             
                <footer>
                </footer>
            </div>
    </body>
</html>
