{% extends "layout.html" %}

{% block content %}

<div class="login_cont">
    <div class ="box">  
        <form method="post" id="loginForm">
            <h2>Login</h2>
            {% if error %}
            <div class="error">{{ error }}</div>
            {% endif %}
            
            {% if validations.emailError is not empty %}
            <span class="error">{{ validations.emailError }}</span>
            {% endif %}

            <div class="inputBox">
                <span class = "icon"> <ion-icon name="mail"></ion-icon> </span>
                <input type="email" name="email" id="email" required="required">
                <label>Email</label>
                <i></i>
            </div>

            {% if validations.passwordError is not empty %}
            <span class="error">{{ validations.passwordError }}</span> <!-- required -->
            {% endif %}

            <div class="inputBox">
                <span class = "icon"> <ion-icon name="lock-closed"></ion-icon> </span>
                <input type="password" name="password" required="required">
                <label>Password</label>
                <i></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox" id="rememberMe"> Remember me</label>
            </div>

            <input type="submit" name="login" value="Login">

            <div class="login-register">
                <p>Don't have an account? <a href="register.php" class="register-link">Register</a> </p>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/scripts/localStorage.js"></script>
{% endblock %}
