{% extends "layout.html" %}

{% block content %}
<section class="profile"> 
    <div class="profile-content">
        <div class="profile-info">
            <h1>Your Weather Profile</h1>
            <div class="profile-picture-preview">
              {% if user.image_path %}
                  <img id="imagePreview" src="{{ user.image_path }}" alt="Profile Picture"/>
              {% else %}
                  <div id="emptyCircle" style="display: block;"></div>
              {% endif %}
            </div>
            <p><strong>Weather ID:</strong> {{ user.user_id }}</p>
            <p><strong>Full Name:</strong> {{ user.Name }} {{ user.Surname }}</p>
            <p><strong>Email:</strong> {{ user.Email }}</p>

            <h3>About me:</h3>
            <div class="profile-bio">
                <p>{{ user.bio }}</p>
            </div>
        </div>
        <div class="profile-details">
            <h2>Edit Profile</h2>
            <form action="#" method="post" enctype="multipart/form-data">
                <input type="file" name="profile-picture" id="profile-picture" accept="image/*">
                <div class="profile-picture-preview">
                    <img id="imagePreview" src="#" alt="Profile Picture Preview" style="display: none;"/>
                  </div>
                <textarea name="bio" placeholder="Enter your bio" wrap="soft"></textarea>

                <h3>Update Information</h3>
                <label for="new-name">Update Name:</label>
                <input type="text" id="new-name" name="new-name"><br><br>
                <label for="new-surname">Update Surname:</label>
                <input type="text" id="new-surname" name="new-surname"><br><br>
                <label for="new-email">Update Email:</label>
                <input type="email" id="new-email" name="new-email"><br><br>
                <label for="new-password">Change Password:</label>
                <input type="password" id="new-password" name="new-password"><br><br>
                
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>
</section>
<script>
    document.getElementById('profile-picture').onchange = function (event) {
      var reader = new FileReader();
      reader.onload = function () {
        var output = document.getElementById('imagePreview');
        output.src = reader.result;
        output.style.display = 'block'; 
      };
      reader.readAsDataURL(event.target.files[0]);
    };
  </script>
  

{% endblock %}
