<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RealFeel Details - Weather Channel</title>
    <link rel="stylesheet" href="../css/widget-style.css">
</head>
<body>
    <div class="container">
        <h1 class="header">RealFeel</h1>
        <div class="content">
            <span class="data" id="realFeelData">Loading...</span>
            <span class="description" id="realFeelDescription">Loading...</span>
        </div>
    </div>
    <script src="../scripts/realfeelAPI.js"></script>
    <script src="../scripts/realfeelDetails.js"></script>
</body>
</html>
