{% extends "layout.html" %}

{% block content %}
<div class="reg_cont">
    <div class ="regbox">
        <form id="registration-form" method="post" onsubmit="return checkPassword() && checkEmail();">
            <h2>Register</h2>
            {% if error_message %}
            <div class="error_message">{{ error_message }}</div>
            {% endif %}
            
            <!-- name -->
            {% if validations.nameError is not empty %}
            <span class="error">{{ validations.nemeError }}</span>
            {% endif %}

            <div class="inputBox">
                <span class = "icon"><ion-icon name="person"></ion-icon> </span>
                <input type="text" name="name" required="required">
                <label>Name</label>
                <i></i>
            </div>
            
            {% if validations.surnameError is not empty %}
            <span class="error">{{ validations.surnameError }}</span>
            {% endif %}

            <div class="inputBox">
                <span class = "icon"><ion-icon name="person-add"></ion-icon> </span>
                <input type="text" name="surname" required="required">
                <label>Surname</label>
                <i></i>
            </div>
            
            {% if validations.emailError is not empty %}
            <span class="error">{{ validations.emailError }}</span>
            {% endif %}

            <div class="inputBox">
                <span class = "icon"> <ion-icon name="mail"></ion-icon> </span>
                <input type="text" name="email" id="emailInput" required="required">
                <label>Email</label>
                <i></i> 
            </div>
            
            {% if validations.passwordError is not empty %}
            <span class="error">{{ validations.passwordError }}</span>
            {% endif %}
            <div class="inputBox">
                <span class = "icon"> <ion-icon name="lock-closed"></ion-icon> </span>
                <input type="password" name="password" id="password" required="required">
                <label>Password</label>
                <i></i>
            </div>
            
            {% if validations.confirmPasswordError is not empty %}
            <span class="error">{{ validations.confirmPasswordError }}</span>
            {% endif %}

            <div class="inputBox">
                <span class = "icon"> <ion-icon name="document-lock"></ion-icon> </span>
                <input type="password" name="confirmPassword" id="confirmPassword"required="required">
                <label>Confirm Password</label>
                <i></i>
            </div>
        
            <input type="submit" id="submitButton" value="Register">
        </form>      
    </div>
</div>

{% endblock %}
