{% extends "layout.html" %}

{% block content %}

<section class="settings"> 
    <video autoplay loop muted plays-inline class="back-video"> 
        <source src="images/Earth360loop.mp4" type="video/mp4">
    </video>
    <div class="settings-content">
      
        <form id="settingsForm" method ="post">
            {% if success_message %}
            <div class="alert alert-success" role="alert">
                {{ success_message }}
            </div>
            {% endif %}
            
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
            <h1>Account Settings</h1>
            <div class="setting">
                <h2>Temperature Unit</h2>
                <select id="temperature-unit" name="temperature_unit">
                    <option value="celsius" {{ preferences.temperature_unit == 'celsius' ? 'selected' : '' }}>Celsius</option>
                    <option value="fahrenheit" {{ preferences.temperature_unit == 'fahrenheit' ? 'selected' : '' }}>Fahrenheit</option>
                </select> 
            </div>
            <div class="setting">
                <h2>Distance Unit</h2>
                <select id="distance-unit" name="distance_unit">
                    <option value="meters" {{ preferences.distance_unit == 'meters' ? 'selected' : '' }}>Meters</option>
                    <option value="feet" {{ preferences.distance_unit == 'feet' ? 'selected' : '' }}>Feet</option>
                </select>
            </div>
            <div class="setting">
                <h2>Precipation Unit</h2>
                <select id="precipitation-unit" name="precipitation_unit">
                    <option value="millimeters" {{ preferences.precipitation_unit == 'millimeters' ? 'selected' : '' }}>Millimeters</option>
                    <option value="inches" {{ preferences.precipitation_unit == 'inches' ? 'selected' : '' }}>Inches</option>
                </select>
            </div>
            <div class="setting">
                <h2>Wind Unit</h2>
                <select id="wind-unit" name="wind_unit">
                    <option value="kmh" {{ preferences.wind_unit == 'kmh' ? 'selected' : '' }}>Kilometers per hour</option>
                    <option value="mph" {{ preferences.wind_unit == 'mph' ? 'selected' : '' }}>Miles per hour</option>
                    <option value="beaufort" {{ preferences.wind_unit == 'beaufort' ? 'selected' : '' }}>Beaufort</option>
                    <option value="knots" {{ preferences.wind_unit == 'knots' ? 'selected' : '' }}>Knots</option>
                </select>
            </div>
            <button type="submit" id="SubmitButton">Save Changes</button>
        </form>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Check if there's a success message
        const successMessage = "{{ success_message }}";
        if (successMessage) {
            alert(successMessage);
        }
    });
</script>
{% endblock %}
