<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Visibility Details - Weather Channel</title>
    <link rel="stylesheet" href="../css/widget-style.css">
</head>
<body>
    <div class="container">
        <h1 class="header">Visibility</h1>
        <p class="center-text">Click anywhere to close widget.</p>
        <div class="content">
            <div class="stats">
                <span class="distance" id="visibilityDistance">Loading...</span>
                <span class="description" id="visibilityDescription">Loading...</span>
            </div>
            <div class="visibility-chart">
                
            </div>
            <div class="summary" id="visibilitySummary">Loading...</div>
            <div class="comparison" id="visibilityComparison">Loading...</div>
        </div>
    </div>
    <script src="../scripts/visibilityAPI.js"></script>
    <script src="../scripts/visibilityDetails.js"></script>
</body>
</html>