<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wind Speed Details - Weather Channel</title>
    <link rel="stylesheet" href="../css/widget-style.css">
</head>
<body>
    <div class="container">
        <h1 class="header">Wind Speed</h1>
        <div class="content">
            <span class="data" id="windSpeedData">Loading...</span>
            <span class="description" id="windSpeedDescription">Loading...</span>
        </div>
    </div>
    <script src="../scripts/windAPI.js"></script>
    <script src="../scripts/windDetails.js"></script>
</body>
</html>
