{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <h1>Page Not Found</h1>
    <p>The page you requested could not be found.</p>
{% endblock %}